@{
ViewData["Title"] = "Menu";
}

<div>
    <div class="title">
        <h2 class="title-content">
            Menu
        </h2>
    </div>
    <div class="content">
        @* --- TABLE --- *@
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div id="toolbar" class="d-flex justify-content-between">
                        <div class="me-2">
                            <button class="btn btn-success" onclick="addData()"><i class="fa-solid fa-plus"></i> Add</button>
                            <button class="btn btn-warning" onclick="updateData()"><i class="fa-solid fa-pen"></i> Update</button>
                        </div>
                        <div class="d-flex">
                            <select class="form-select me-2" id="GroupPermissionFilter">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <table class="bootstrap-table"
                   id="MenuTable"
                   data-toggle="table"
                   data-height="460"
                   data-ajax="getDataTable"
                   data-search="true"
                   data-mobile-responsive="true"
                   data-side-pagination="server"
                   data-click-to-select="true"
                   data-toolbar="#toolbar">
                <thead class="content-table-header">
                <tr>
                    <th data-checkbox="true"></th>
                    <th data-formatter="sortTable" data-align="center">No.</th>
                    <th data-field="Id" data-visible="false">ID</th>
                    <th data-field="Name">Name</th>
                    <th data-field="GroupName">Group Permission</th>
                    <th data-field="HasView" data-align="center" data-formatter="booleanFormatter">View</th>
                    <th data-field="HasAdd" data-align="center" data-formatter="booleanFormatter">Add</th>
                    <th data-field="HasEdit" data-align="center" data-formatter="booleanFormatter">Edit</th>
                    <th data-field="HasDelete" data-align="center" data-formatter="booleanFormatter">Delete</th>
                    <th data-field="HasApprove" data-align="center" data-formatter="booleanFormatter">Approve</th>
                    <th data-field="HasStatistic" data-align="center" data-formatter="booleanFormatter">Statistic</th>
                    <th data-field="IsActived" data-align="center" data-formatter="activeFormatter">Active</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-xl" id='modelContainer'>
    </div>
</div>

<script>
    $(document).ready(function () {
    
        // Get Group Permission Combobox
        $.ajax({
            url: '@Url.Action("GetList_Combobox", "GroupPermission")',
            type: 'GET',
            success: function (data) {
               if (data.IsSuccess)
               {
                   var select = $('#GroupPermissionFilter');
                   select.empty();

                   select.append($('<option>', {
                       value: '',
                       text: '-- Select group --'
                   }));
                   
                   $.each(data.Data, function (index, item) {
                       select.append($('<option>', {
                            value: item.Value,
                            text: item.Text
                       }));
                   });
               }
            },
            error: function (request, status, err) {
                notyf.error(errorMessage);
            }
        });
    })
    
    function getIdSelections() {
        return $.map($('#MenuTable').bootstrapTable('getSelections'), function (row) {
            return row.Id
        })
    }

    function showData() {
        var selectedRows = getIdSelections();
        if (selectedRows.length == 1) {
            var url = '@Url.Action("ShowViewPopup", "Menu")' + "?id=" + selectedRows[0];

            $.get(url, function (data) {
                $('#modelContainer').html(data);
                $('#modal-default').modal('show');
            });
        } else {
            notyf.error('Please select a row to view.');
        }
    }

    function addData() {
        var url = '@Url.Action("ShowInsertPopup", "Menu")';

        $.get(url, function (data) {
            $('#modelContainer').html(data);
            $('#modal-default').modal('show');
        })
    }

    function updateData() {
        var selectedRows = getIdSelections();
        if (selectedRows.length == 1) {
            var url = '@Url.Action("ShowUpdatePopup", "Menu")' + "?id=" + selectedRows[0];

            $.get(url, function (data) {
                $('#modelContainer').html(data);
                $('#modal-default').modal('show');
            });
        } else {
            notyf.error('Please select a row to update.');
        }
    }

    function setPermissionData() {
        var selectedRows = getIdSelections();
        if (selectedRows.length == 1) {
            var url = '@Url.Action("ShowPermissionPopup", "Menu")' + "?id=" + selectedRows[0];

            $.get(url, function (data) {
                $('#modelContainer').html(data);
                $('#modal-default').modal('show');
            });
        } else {
            notyf.error('Please select a row to set permission.');
        }
    }

    function deleteData() {
        var selectedRows = getIdSelections();
        if (selectedRows.length > 0) {
            var deleteData = function () {
                showLoading();
                $.ajax({
                    url: '@Url.Action("Delete", "Menu")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        listSelectedId: selectedRows
                    },
                    success: function (data) {
                        if (data.IsSuccess) {
                            notyf.success(deleteSuccess);
                            refreshGrid();
                        }
                        else {
                            notyf.error(data.Message);
                        }
                    },
                    error: function (request, status, err) {
                        notyf.error(errorMessage);
                    }
                });
                hideLoading();
            }
            return confirmDialogYesNo(titleConfirm, deleteConfirmText, deleteData);
        } else {
            notyf.error('Please select a row to delete.');
        }
    }

    function getDataTable(params) {
        var url = '@Url.Action("GetList", "Menu")';
        var data = params.data;

        $.get(url, data, function (response) {
            params.success({
                total: response.total,
                rows: response.data
            });
        });
    }

    function refreshGrid() {
        $('#MenuTable').bootstrapTable('refresh');
    }

    function sortTable(value, row, index) {
        var pageSize = $('#MenuTable').bootstrapTable('getOptions').pageSize;
        var pageNumber = $('#MenuTable').bootstrapTable('getOptions').pageNumber;
        return (pageNumber - 1) * pageSize + index + 1;
    }

    function booleanFormatter(value, row, index) {
        if (value) {
            return '<span style="color: #0d6efd"><i class="fa-solid fa-check"></i></span>';
        } else {
            return '<span style="color: #dc3545;"><i class="fa-solid fa-xmark"></i></span>';
        }
    }

    function activeFormatter(value, row, index) {
        if (value) {
            return '<span style="color: #0d6efd;">Online</span>';
        } else {
            return '<span style="color: #dc3545;">Offline</span>';
        }
    }


</script>