<div>
    <div class="title">
        <h2 class="title-content">
            Shift
        </h2>
    </div>
    <div class="content">
        @* --- TABLE --- *@
        <div class="">
            <div class="row">
                <div class="col-md-6">
                    <div id="toolbar">
                        <button class="btn btn-primary" onclick="showData()"><i class="fa-solid fa-eye"></i> View</button>
                        <button class="btn btn-success" onclick="addData()"><i class="fa-solid fa-plus"></i> Add</button>
                        <button class="btn btn-warning" onclick="updateData()"><i class="fa-solid fa-pen"></i> Update</button>
                        <button class="btn btn-danger" onclick="deleteData()"><i class="fa-solid fa-trash"></i> Delete</button>
                    </div>
                </div>
            </div>

            <table class="bootstrap-table"
                   id="ShiftTable"
                   data-toggle="table"
                   data-height="460"
                   data-ajax="getDataTable"
                   data-search="true"
                   data-side-pagination="server"
                   data-pagination="true"
                   data-click-to-select="true"
                   data-toolbar="#toolbar">
                <thead class="content-table-header">
                <tr>
                    <th data-checkbox="true"></th>
                    <th data-formatter="sortTable" data-align="center">STT</th>
                    <th data-field="Id" data-visible="false">ID</th>
                    <th data-field="Name">Name</th>
                    <th data-field="Time" data-formatter="timeFormatter">Time</th>
                    <th data-field="Days">Days</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" id='modelContainer'>
    </div>
</div>

<script>
    function getIdSelections() {
        return $.map($('#ShiftTable').bootstrapTable('getSelections'), function (row) {
            return row.Id
        })
    }

    function showData() {
        var selectedRows = getIdSelections();
        if (selectedRows.length == 1) {
            var url = '@Url.Action("ShowViewPopup", "Shift")' + "?id=" + selectedRows[0];

            $.get(url, function (data) {
                $('#modelContainer').html(data);
                $('#modal-default').modal('show');
            });
        } else {
            notyf.error('Please select a row to view.');
        }
    }

    function addData() {
        var url = '@Url.Action("ShowInsertPopup", "Shift")';
        
        $.get(url, function (data) {
            $('#modelContainer').html(data);
            $('#modal-default').modal('show');
        })
    }

    function updateData() {
        var selectedRows = getIdSelections();
        if (selectedRows.length == 1) {
            var url = '@Url.Action("ShowUpdatePopup", "Shift")' + "?id=" + selectedRows[0];

            $.get(url, function (data) {
                $('#modelContainer').html(data);
                $('#modal-default').modal('show');
            });
        } else {
            notyf.error('Please select a row to update.');
        }
    }

    function deleteData() {
        var selectedRows = getIdSelections();
        if (selectedRows.length > 0) {
            var deleteData = function () {
                showLoading();
                $.ajax({
                    url: '@Url.Action("Delete", "Shift")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        listSelectedId: selectedRows
                    },
                    success: function (data) {
                        if (data.IsSuccess) {
                            notyf.success(deleteSuccess);
                            refreshGrid();
                        }
                        else {
                            notyf.error(data.Message);
                        }
                    },
                    error: function (request, status, err) {
                        notyf.error(errorMessage);
                    }
                });
                hideLoading();
            }
            return confirmDialogYesNo(titleConfirm, deleteConfirmText, deleteData);
        } else {
            notyf.error('Please select a row to delete.');
        }
    }
    
    function getDataTable(params) {
        var url = '@Url.Action("GetList", "Shift")';
        var data = params.data;

        $.get(url, data, function (response) {
            params.success({
                total: response.total,
                rows: response.data
            });
        });
    }

    function refreshGrid() {
        $('#ShiftTable').bootstrapTable('refresh');
    }

    function timeFormatter(value, row, index) {
        if (value) {
            let time = value.split(":");
            return time[0] + ":" + time[1];
        }
        return value;
    }
</script>