@model DTO.Category.Shift.Models.ShiftModel

@{
    List<string> selectedDays = Model.SelectDays ?? new List<string>();
}

<div class="modal-content modal-snhcenter" id="modalLoading">
        <div class="modal-header">
            <h4 class="modal-title">Shift</h4>
            <button type="button" class="btn-close" onclick="closePopup();" aria-label="Close" data-bs-dimiss="modal"></button>
        </div>
        
        <div class="modal-body">
            <div class="row form-group">
                <label class="col-sm-2 form-label">Name <span class="text-danger">(*)</span></label>
                <div class="col-sm-4">
                    @(Html.TextBoxFor(model => model.Name, new { @placeholder = "Enter name", @readonly = true }))
                </div>
                <label class="col-sm-2 form-label">Time <span class="text-danger">(*)</span></label>
                <div class="col-sm-4">
                    @(Html.TextBoxFor(model => model.Time, new { @type = "time", @placeholder = "Select a time", @readonly = true }))
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-12 form-label">Days <span class="text-danger">(*)</span></label>
                @Html.HiddenFor(model => model.SelectDays)
                @foreach (var day in new List<string> { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" })
                {
                <div class="col-sm-3">
                    <input type="checkbox" name="days" value="@day"
                           @(selectedDays.Contains(day) ? "checked='checked'" : "")
                           style="width: auto;" />
                    @Html.Label(day)
                </div>
                }
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" onclick="closePopup();"><i class="fas fa-times-square"></i> Cancel</button>
        </div>
</div>

<script>
    $(document).ready(function () {
        $("#frmShift").find("span.field-validation-valid").hide();
    })
    
    function closePopup() {
        $('#modal-default').modal('hide');
    }
</script>
