@using System.Net.Mime
@using GUI.Constants
@model DTO.System.GroupPermission.Dtos.GroupPermissionDto

<div class="modal-content modal-snhcenter" id="modalLoading">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmGroupPermission", @class = "form-detail" }))
    {
    @Html.AntiForgeryToken()
    <div class="modal-header">
        @if (!Model.IsEdit)
        {
        <h4 class="modal-title">Create Group Permission</h4>
        }
        else
        {
        <h4 class="modal-title">Update Group Permission</h4>
        }
        <button type="button" class="btn-close" onclick="closePopup();" aria-label="Close" data-bs-dimiss="modal"></button>
    </div>

    <div class="modal-body">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.IsEdit)
        <div class="row form-group">
            <label class="col-sm-2 form-label">Name <span class="text-danger">(*)</span></label>
            <div class="col-sm-4">
                @(Html.TextBoxFor(model => model.Name, new { @placeholder = "Enter name" }))
                @(Html.ValidationMessageFor(model => model.Name, "Name field is required", new {@class = "text-danger" }))
            </div>
            <label class="col-sm-2 form-label">Icon </label>
            <div class="col-sm-4">
                @(Html.TextBoxFor(model => model.Icon, new { @placeholder = "Enter icon" }))
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-2 form-label">Sort </label>
            <div class="col-sm-4">
                @(Html.TextBoxFor(model => model.Sort, new { @type = "number", @min = 0, @placeholder = "Enter sort" }))
            </div>
            <label class="col-sm-2 form-label">Active </label>
            <div class="col-sm-4">
                <select asp-for="IsActived" asp-items="@SysConfig.IsActive"></select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="btnSave" class="btn btn-success btn-sm"><i class="fas fa-check-square"></i> @(Model.IsEdit ? "Update" : "Create")</button>
        <button type="button" class="btn btn-danger btn-sm" onclick="closePopup();"><i class="fas fa-times-square"></i> Cancel</button>
    </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#frmGroupPermission").find("span.field-validation-valid").hide();

        //Save
        $("#frmGroupPermission").submit(async function (event) {
            event.preventDefault();

            if ($("#frmGroupPermission").valid()) {
                showLoading();
                
                $.ajax({
                    url: '/GroupPermission/Post',
                    type: "POST",
                    data: $("#frmGroupPermission").serialize(),
                    success: function (data) {
                        if (data.IsSuccess) {
                            if (data.Data) {
                                notyf.success(updateSuccess);
                            }
                            else {
                                notyf.success(addSuccess);
                            }
                            hideLoading();
                            closePopup();
                        }
                        else {
                            notyf.error(data.Message);
                            hideLoading();
                        }
                    }
                });

            } else {
                $("#frmGroupPermission").find("span.field-validation-valid").show();
            }
        });
    })

    function closePopup() {
        $('#modal-default').modal('hide');
        refreshGrid();
    }
</script>
