<style>
    li {
        list-style: none;
    }

    /* Layout skeleton */
    .wrapper {
        align-items: stretch;
        display: flex;
        width: 100%;
    }

    #sidebar {
        height: calc(100vh - 70px);
        overflow-y: scroll;
        overflow-x: hidden;
        max-width: 240px;
        min-width: 240px;
        transition: all 0.35s ease-in-out;
        border-right: 1px solid #E8E8E8;
    }

    /* Sidebar collapse*/
    #sidebar.collapsed {
        margin-left: -240px;
    }

    .sidebar-nav {
        padding: 0;
    }

    .sidebar-header {
        color: #202224;
        padding: 16px 0 16px 40px;
        font-size: 16px;
    }

    a.sidebar-link {
        margin: 0 24px;
        padding: 16px;
        color: #202224;
        border-radius: 6px;
        position: relative;
        display: block;
        font-size: 1rem;
    }

    .sidebar-item {
        position: relative;
    }

    .sidebar-item.active::before {
        border-left: 4px solid #4880FF;
        border-radius: 4px 0 0 4px;
        height: 100%;
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(180deg);  
    }

    .sidebar-item:hover a.sidebar-link,
    .sidebar-item.active a.sidebar-link {
        margin: 0 24px;
        color: #fff;
        background-color: #4880FF;
        border-radius: 6px;
        position: relative;
        display: block;
        font-size: 1rem;
    }

    .sidebar-item:hover a.sidebar-link {
        background-color: #F5F6FA;
        color: #202224;
    }
    
    .sidebar-item.active:hover a.sidebar-link {
        background-color: #4880FF;
        color: #fff;
    }

    .sidebar-link[data-bs-toggle="collapse"]::after {
        border: solid;
        border-width: 0 0.075rem 0.075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all 0.2s ease-out;
    }

    .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
        transform: rotate(45deg);
        transition: all 0.2s ease-out;
    }
</style>

<div class="h-100">
    <ul class="sidebar-nav">
        <li class="sidebar-header">
            Home
        </li>
        <li class="sidebar-item active">
            <a href="@Url.Action("Index", "Home")" class="sidebar-link">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        @* ---------------- DROPDOWN ---------------- *@
        @* <li class="sidebar-item"> *@
        @*     <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages" *@
        @*        aria-expanded="false" aria-controls="pages"> *@
        @*         <i class="fa-solid fa-list pe-2"></i> *@
        @*         Pages *@
        @*     </a> *@
        @*     <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"> *@
        @*         <li class="sidebar-item"> *@
        @*             <a href="#" class="sidebar-link">Analytics</a> *@
        @*         </li> *@
        @*         <li class="sidebar-item"> *@
        @*             <a href="#" class="sidebar-link">Analytics</a> *@
        @*         </li> *@
        @*         <li class="sidebar-item"> *@
        @*             <a href="#" class="sidebar-link">Analytics</a> *@
        @*         </li> *@
        @*     </ul> *@
        @* </li> *@
    </ul>
    <hr class="hr" />
    <ul class="sidebar-nav">
        <li class="sidebar-header">
            Management
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Home")" class="sidebar-link">
                <i class="fa-solid fa-chalkboard-user"></i>
                Teacher
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Home")" class="sidebar-link">
                <i class="fa-solid fa-graduation-cap"></i>
                Student
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Home")" class="sidebar-link">
                <i class="fa-solid fa-book"></i>
                Course
            </a>
        </li>
    </ul>

    <hr class="hr" />
    <ul class="sidebar-nav">
        <li class="sidebar-header">
            Category
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Shift")" class="sidebar-link">
                <i class="fa-solid fa-calendar"></i>
                Shift
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Home")" class="sidebar-link">
                <i class="fa-solid fa-graduation-cap"></i>
                Student
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Home")" class="sidebar-link">
                <i class="fa-solid fa-book"></i>
                Course
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Program")" class="sidebar-link">
                <i class="fa-solid fa-gears"></i>
                Program
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Parent")" class="sidebar-link">
                <i class="fa-solid fa-person-breastfeeding"></i>
                Parent
            </a>
        </li>
    </ul>

    <hr class="hr" />
    <ul class="sidebar-nav">
        <li class="sidebar-header">
            System
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Role")" class="sidebar-link">
                <i class="fa-solid fa-calendar"></i>
                Role
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Menu")" class="sidebar-link">
                <i class="fa-solid fa-calendar"></i>
                Menu
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "Permission")" class="sidebar-link">
                <i class="fa-solid fa-graduation-cap"></i>
                Permission
            </a>
        </li>
        <li class="sidebar-item">
            <a href="@Url.Action("Index", "GroupPermission")" class="sidebar-link">
                <i class="fa-solid fa-book"></i>
                Group Permission
            </a>
        </li>
    </ul>
</div>